POSTGRES_DB=${POSTGRES_DB}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

JWT_SECRET_KEY=${JWT_SECRET_KEY}

SMTP_LOGIN=${SMTP_LOGIN}
SMTP_PASSWORD=${SMTP_PASSWORD}

ENCRYPTION_KEY=${ENCRYPTION_KEY}
